---

---

<div class="flex flex-row items-center justify-center">
	<img
		src="/assets/FollowLine.svg"
		alt="Follow line"
		class="w-4 hidden md:block"
	/>
	<div class="text-base gap-y-2 flex flex-col p-4 text-white text-justify">
		<p id="about-me" class="">
			I'm a passionate software developer dedicated to crafting innovative
			solutions. With a knack for quick learning, I thrive on new
			challenges and continuously expand my skill set. My expertise lies
			in modern web technologies, particularly Astro, TailwindCSS, and
			React. I'm deeply fascinated by AI and its potential to
			revolutionize problem-solving across various domains.
		</p>
		<p class="hidden md:block">
			Beyond coding, I have a keen interest in design tools like Figma and
			3D modeling with Blender, which complement my development skills and
			allow me to create more holistic digital experiences. To maintain a
			healthy work-life balance, I enjoy playing padel, a sport that keeps
			me active and energized. I'm always eager to collaborate on projects
			that push the boundaries of technology and design.
		</p>
	</div>
</div>
