---

---

<div class="md:hidden flex flex-row items-center justify-center md:w-3/4">
	<img
		src="/assets/FollowLine.svg"
		alt="Follow line"
		class="w-4 hidden md:block"
	/>
	<div class="text-base gap-y-2 flex flex-col p-6 text-white text-justify">
		<p id="about-me" class="">
			I'm a Fullstack Engineer with a Bachelor's in Computer Science. I
			began my freelance journey because I wanted to challenge myself and
			learn other languages/approaches. Now that I have expanded my
			portfolio I’m looking for an organization where I can use these
			skills. I'm seeking a dynamic, value-driven organization with a
			youthful spirit.
		</p>
		<p class="hidden md:hidden">
			Beyond coding, I have a interest in doing sports like padel and
			football. I'm a person who likes to organize events and meet new
			people, and I'm always looking for new challenges. When I have the
			time, I like to play videogames like Fortnite and CS:GO.
		</p>
	</div>
</div>
