h1 {
    font-size: 1.5rem;
    /* text-2xl */
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.875rem;
        /* md:text-3xl */
    }
}

h1 {
    font-weight: bold;
    /* font-bold */
    line-height: 1;
    /* leading-none */
    margin: 1rem 0;
    /* my-4 */
    text-align: center;
    /* text-center */
    color: #1D3C72;
    /* text-[#1D3C72] */
}

