---
const platform = 'github';
const username = 'hugobrink';
---

<footer
	class="flex flex-col items-center justify-center h-32 w-full text-white pattern-boxes pattern-gray-800 pattern-bg-transparent
  pattern-size-2 pattern-opacity-100"
>
	<p class="text-sm">
		Learn more about my projects on <a
			href={`https://www.${platform}.com/${username}`}>{platform}</a
		>!
	</p>
	<p class="text-sm text-gray-500">
		Created with <a href="https://astro.build/" class="underline">Astro</a>
	</p>
</footer>
