---

---

<header class="flex items-center justify-center px-4">
	<div class="flex items-center justify-between w-full max-w-[800px] pt-10">
		<h1 class="text-xl font-semibold">Hugo Brink</h1>

		<nav class="text-white bg-transparent sm:p-4">
			<ul
				class="flex justify-between items-center gap-x-4 text-white font-semibold"
			>
				<li>
					<a href="#home" class="">About me</a>
				</li>
				<li>
					<a href="#roadmap" class="">Roadmap</a>
				</li>
				<li>
					<a href="#last-projects" class="">Last projects</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
