---

---

<button
  id="scrollToTopBtn"
  class="fixed bottom-10 right-10 bg-blue-500 text-white p-4 rounded-full shadow-lg opacity-0 transition-opacity duration-300 hover:bg-blue-600"
  aria-label="Scroll to top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
  </svg>
</button>

<script>
  const scrollToTopBtn = document.getElementById("scrollToTopBtn");

  function toggleScrollToTopButton() {
    if (scrollToTopBtn) {
      if (window.scrollY > 200) {
        scrollToTopBtn.classList.remove("opacity-0");
        scrollToTopBtn.classList.add("opacity-100");
      } else {
        scrollToTopBtn.classList.remove("opacity-100");
        scrollToTopBtn.classList.add("opacity-0");
      }
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  window.addEventListener("scroll", toggleScrollToTopButton);

  if (scrollToTopBtn) {
    scrollToTopBtn.addEventListener("click", scrollToTop);
  }
</script>
