---
import ExperienceItem from './ExperienceItem.jsx';
---

<section class="flex items-start justify-center">
	<div class="container px-3">
		<h1 class="text-white text-left py-4">Experience</h1>

		<ExperienceItem />
	</div>
</section>
